// Colors
$color-text-label: rgb(156, 11, 156);
$color-text-active: rgba(255, 255, 255, 1);
$color-text-default: rgba(0, 0, 0, 1);
$color-background: rgb(156, 11, 156);
$color-background-hightlight: #9c0b9c3b;
