@import "assets/style/_variable.scss";

.MainWrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-wrap: nowrap;
  background: url("../../statics/images/niebieski-swiatlowod-z-kablami-ethernet.jpg")
    center no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;

  .PictureSource {
    font-size: 0.5rem;
    position: absolute;
    bottom: 0;
    right: 0px;
  }

  .Container {
    height: 100vh;
    width: 100vw;
  }
}
